<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bayudev.baysportbike">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoasli"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoasli"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Walktrough"></activity>
        <activity android:name=".motor_rc390" />
        <activity android:name=".motor_rc250" />
        <activity android:name=".motor_cbr150r" />
        <activity android:name=".motor_cbr250" />
        <activity android:name=".motor_ninja650" />
        <activity android:name=".motor_ninja250" />
        <activity android:name=".motor_r25" />
        <activity android:name=".motor_r15" />
        <activity android:name=".Pilih_Motor" />
        <activity android:name=".Berhasil_Daftar" />
        <activity android:name=".Daftar" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>